/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.swanson-container {
  background-image: url(../images/swanson.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.quote-block, .title-block, .button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-block {
  text-align: center;
}
h1 {
  position: relative;
  top: .25em;
  color: #fff;
  width: 5em;
  font-size: 3em;
}
.quote-block {
  height: 280px;
  position: relative;
  top: -3em;
}

blockquote {
  font-size: 1.7em;
  line-height: 1.3;
  width: 12em;
  align-self: center;
}

button {
  color: #fff;
  background-color: #000;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  width: 4em;
  align-self: center;
  border: none;
  position: relative;
  bottom: 4.25em;
}
button:focus {
  outline:0;
}
